<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>GPS Tracker</title>
  </head>
  <body>
    <div id="navbar"></div>

    <div class="container">
      <div class="row">
        <div class="span12" id="app"></div>
      </div>
    </div>

    <!-- scripts and styles -->
    <link rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% style "/css/screen.css" %}

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js">
    </script>
    <script type="text/javascript">
        var context = "{{servlet-context}}";
    </script>
    {% script "/js/app.js" %}
  </body>
</html>




